<app-navbar></app-navbar>
<router-outlet></router-outlet>

<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h3>Chi siamo</h3>
            <p>
                Moviemarket è il portale dedicato agli appassionati di cinema, dove recensiamo i film più attuali e celebri, offrendo informazioni dettagliate, recensioni e notizie dal mondo del cinema.
            </p>
        </div>
        <div class="footer-section team">
            <h3>Team</h3>
            <ul>
                <li>Jago Francesco Pulicanò</li>
                <li>Eugenio Ielpa</li>
                <li>Giuseppe Niccolò Perfetti</li>
                <li>Drogato</li>
            </ul>
        </div>
        <div class="footer-section copyright">
            <h3>Moviemarket</h3>
            <p>&copy; 2025 MovieMarket. Tutti i diritti riservati.</p>
        </div>
    </div>
</footer>
