<!-- Assicurati che nell'index.html sia presente anche il meta viewport -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

<div class="recupero-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="recupero-form p-4">
                    <h2 class="mb-3">Recupera la tua password</h2>
                    <p>Inserisci il tuo indirizzo email per ricevere le istruzioni per il recupero della password.</p>

                    <form (submit)="submitRecoveryForm()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Indirizzo Email</label>
                            <input type="email" id="email" name="email" [(ngModel)]="email" required class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-success w-100">Invia istruzioni</button>
                    </form>

                    <div *ngIf="showPasswordField" class="mt-4">
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Nuova Password</label>
                            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required class="form-control" />
                        </div>
                        <!-- Pulsante di conferma password -->
                        <button class="btn btn-primary w-100" (click)="onSubmit()">Conferma Password</button>
                    </div>

                    <p class="mt-3">
                        Se non hai un account, <a routerLink="/auth" class="registration-link">crea un nuovo account</a>.
                    </p>
                </div>
                <button class="btn btn-link btn-home" routerLink="/home">Home</button>
            </div>
        </div>
    </div>
</div>
