<div class="hero" [style.background-image]="'url(' + movieImage + ')'">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1>{{ movieTitle }}</h1>
        <p>{{ movieDescription }}</p>
        <button class="info-btn" (click)="addToWishlist()">Aggiungi</button>
        <button class="info-btn" (click)="pay(movieTitle)">Acquista</button>

        <!-- Sezione Rating -->
        <div class="rating-section">
            <h3>Rating Globale: {{ globalRating | number:'1.1-1' }}</h3>
            <div class="star-rating">
                <!-- Visualizza le stelle per il rating globale -->
                <ng-container *ngFor="let star of [1,2,3,4,5]">
                    <i class="star" [class.filled]="star <= globalRating">&#9733;</i>
                </ng-container>
            </div>

            <div *ngIf="userId">
                <h3>Il tuo rating: {{ personalRating }}</h3>
                <div class="star-rating">
                    <!-- Stelle interattive per il rating personale -->
                    <ng-container *ngFor="let star of [1,2,3,4,5]">
                        <i class="star"
                           [class.filled]="star <= personalRating"
                           (click)="onPersonalRatingChange(star)">
                            &#9733;
                        </i>
                    </ng-container>
                    <button (click)="onPersonalRatingChange(0)">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sezione film correlati -->
<div class="movie-section" *ngIf="relatedMovies.length > 0">
    <h2>Film Correlati</h2>
    <div class="movie-list-wrapper">
        <button class="arrow left" (click)="scroll(movieListRelated, 'left')">&#10094;</button>
        <div class="movie-list" #movieListRelated>
            <app-moviecard *ngFor="let movie of relatedMovies" [movie]="movie"></app-moviecard>
        </div>
        <button class="arrow right" (click)="scroll(movieListRelated, 'right')">&#10095;</button>
    </div>
</div>
